footer#footer.corner-point-brown.unpad--top
	section#dont-miss-a-thing
		.container.bg-blue
			.row.text-center
				.col-sm-12
					h3.color-white Don't miss a thing
					p.color-white Sign up to receive Connect Summit updates and the Connect Technology Newsletter
			.row.text-center
				.col-sm-5
					input(type="text" placeholder="Your name" style="display:inline-block;")
				.col-sm-5
					input(type="text" placeholder="E-mail address" style="display:inline-block;")
				.col-sm-2
					a.btn.white.medium(href="")
						span.btn__text SUBMIT
	section
		.container
			.row
				.col-sm-6
					a(href="/")
						img(src="/img/logo/logo-color.png" style="height:100px;")
				.col-sm-6.mt--1
					ul.social-icons
						li.facebook
							a(href="#")
								i.fa.fa-facebook
						li.twitter
							a(href="#")
								i.fa.fa-twitter
			.row.mt--1
				.col-sm-6
					h4.unmarg JUNE 25-27 2018
					h4(style="font-weight:500;") Park Hyatt Resort, Beaver Creek, Colorado
				.col-sm-6
					h6.
						For registration or other questions please contact us at 918-804-2701 (8am–5pm PT, Monday–Friday) or email #[a.color-white(href="registration@connectsummit.org") registration@connectsummit.org]
	section.unpad
		.container
			.row.text-center
				.col-sm-12
					h3 Supported by
			.row.text-center
				ul#sponsors.row
					li
						img(src="/img/sponsors/vasLogo-white.png")
					li
						img(src="/img/sponsors/vasLogo-white.png")
					li
						img(src="/img/sponsors/vasLogo-white.png")
					li
						img(src="/img/sponsors/vasLogo-white.png")
				.col-sm-12
					a.btn.white.large(href="mailto:aldo.eagle@vas.com")
						span.btn__text BECOME A SPONSOR
