extends layout

block content
	.content
		section#hero.pos-relative.height-70.unpad
			.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section.shift-up.unpad--top
			.container
				.row
					.col-sm-12
						.iframe-container
							iframe.youtube(src="https://www.youtube.com/embed/pmCjKO4pD4A" allow="encrypted-media" allowfullscreen)
				.row.text-center.mt--2
					.col-sm-12
						h1 Intelligence at the heart of your dairy
						h6 In an ever changing industry, what steps do you need to take to survive and thrive in the digital era.
						p.
							Connect engages dairy leaders with trending and thought-provoking discussions to discover practical technology applications, best practices and the clearest path to transforming the way they do business.
						a.btn(href="#")
							span.btn__text READ ABOUT OUR MISSION
		section.mt--3
			.container
				.row.text-center
					.col-sm-12
						h1 Get inspired
						p.
							These are some of the keynote speakers you will see on stage
						a.btn(href="#")
							span.btn__text View our program
		section
			.row
				.slider(data-arrows='true', data-paging='false')
					ul.slides.row
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		section
			.container
				.row.text-center
					.col-sm-12
						h1 Park Hyatt Resort, Beaver Creek, CO
						p.
							Introduction of this beautiful location and possible activities. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						a.btn(href="#")
							span.btn__text MORE ABOUT THIS LOCATION
			#gallery.mt--2
				ul.row
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
					li.col-sm-4.imagebg.height-30
						a.background-image-holder(href="/img/test.jpg" data-lightbox="gallery 1")
							img(src="/img/test.jpg")
		section
			.container
				.row.text-center.mb--2
					.col-sm-12
						h1 6 reasons why you should attend
				.row.text-center
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.mb--2
						.imagebg.square.mb--1
							.background-image-holder
								img(src="/img/test.jpg")
						h4 Dairy Talks
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				.row.text-center
					.col-sm-12
						a.btn(href="")
							span.btn__text MAKE YOUR RESERVATION
							
		section.bg-gray.mt--3
			.container
				.row.text-center
					.col-sm-12
						h4.color-white Don't miss a thing
						p.color-white Sign up to recieve the latest announcements, tips and more.
				.row.text-center.mt--1
					.col-sm-5
						input(type="text" placeholder="Your name" style="display:inline-block;")
					.col-sm-5
						input(type="text" placeholder="E-mail address" style="display:inline-block;")
					.col-sm-2
						a.btn(href="")
							span.btn__text SUBMIT
