extends layout

block content
	.content
		section#hero.home.pos-relative
			.header-title
				h1.ctr
					| Connect '18 
					span.h1-sub A DairyTech Summit
			
				h2.ctr
					| Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
			
				.info-date.ctr June 25-27, 2018
			
				.info-location.ctr Park Hyatt Resort, Beaver Creek, Colorado
			.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section.shift-up.unpad--top
			.container
				.row
					.col-sm-12
						.iframe-container
							iframe.youtube(src="https://www.youtube.com/embed/8IKbgQS_ffw" allow="encrypted-media" allowfullscreen)
				.row.text-center.mt--2
					.col-sm-12
						h2.color-green Intelligence at the heart of your dairy
						h5 In an ever changing industry, what steps do you need to take to survive and thrive in the digital era.
						h6.
							Connect engages dairy leaders with trending and thought-provoking discussions to discover practical technology applications, best practices and the clearest path to transforming the way they do business.
						a.btn.green.large(href="#")
							span.btn__text READ ABOUT OUR MISSION
		section#phone.unpad-bottom.pos-relative
			.bg-gray2
				.container
					.row
						.col-xs-7.col-sm-6.col-md-offset-1.col-lg-5.col-lg-offset-2
							h4.color-blue Connect'18 Event App available
							p.
								Download the HelloCrowd app now - available for iOS and Android! #[a(href="#") learn how it works!]
							a.download-link(href="https://itunes.apple.com/us/app/hellocrowd/id936726622?mt=8" target="_blank")
								img(src="/img/applestore.png", alt="apple store icon")
							a.download-link(href="https://play.google.com/store/apps/details?id=com.hellocrowd.container&hl=en" target="_blank")
								img(src="/img/googleplay.png", alt="google play icon")
			img.phoneimg(src="/img/phone.png")

		section.carousel.unpad-top
			.container.mb--1
				.row.text-center
					.col-sm-12
						h2.color-blue Get inspired
						h6.
							These are some of the keynote speakers you will see on stage
						a.btn.blue.large.mt--1(href="#")
							span.btn__text View our program
			.main-carousel
				.carousel-cell
					.carousel-cell-image(style="background:url('/img/slider-image-1.jpg');background-position: left center;background-size: cover;background-repeat: no-repeat; ", alt='slider-image-1', width='', height='')
					.carousel-cell-content
						h3 Mike Rowe
						p
							| Mike Rowe is a TV host, writer, narrator, producer, actor and spokesman. He's well known for lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.carousel-cell
					.carousel-cell-image(style="background:url('/img/slider-image-2.jpg');background-position: left center;background-size: cover;background-repeat: no-repeat; ", alt='slider-image-1', width='', height='')
					.carousel-cell-content
						h3 Mike Rowe
						p
							| Mike Rowe is a TV host, writer, narrator, producer, actor and spokesman. He&rsquo;s well known for lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ed do.

				.carousel-cell
					.carousel-cell-image(style="background:url('/img/slider-image-1.jpg');background-position: left center;background-size: cover;background-repeat: no-repeat; ", alt='slider-image-1', width='', height='')
					.carousel-cell-content
						h3 Mike Rowe
						p
							| Mike Rowe is a TV host, writer, narrator, producer, actor and spokesman sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		script.
			$(document).ready(function(){
					

				var $carousel = $('.main-carousel').flickity({
					// options
					cellAlign: 'left',
					contain: false,
					wrapAround: true,
					selectedAttraction: 0.05,
					friction: 0.5,
					pageDots: false,
					accessibility: false,
					adaptiveHeight: true,
					arrowShape: {
					  x0: 10,
					  x1: 60, y1: 50,
					  x2: 65, y2: 45,
					  x3: 20
					}
				});
				if($('.main-carousel').length) {
					//carousel exists, set arrow position
					var carouselImageHeight = $('.carousel-cell-image').height();
					$('.flickity-prev-next-button').css('top', (carouselImageHeight / 2));
				}

				/*
				var flkty = $carousel.data('flickity');
					$carousel.on( 'settle.flickity', function() {
					  console.log( 'Flickity settled at ' + flkty.selectedIndex )
					})
				*/

				});


		//-section
			.row
				.slider(data-arrows='true', data-paging='false')
					ul.slides.row
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						li.col-sm-9.height-80.imagebg
							.background-image-holder
								img(src="/img/test.jpg")
							.container.pos-vertical-center
								.col-sm-6.float-right
									h3.color-white Mike Rowe
									p.color-white.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		section
			.container
				.row.text-center
					.col-sm-12
						h2.color-green Park Hyatt Resort, Beaver Creek, CO
						h6.
							Introduction of this beautiful location and possible activities. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						a.btn.green.large(href="#")
							span.btn__text MORE ABOUT THIS LOCATION
			#gallery.mt--2
				ul.row
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-1.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-1.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-2.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-2.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-3.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-3.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-4.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-4.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-5.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-5.jpg")
					li.col-sm-4.col-xs-6.imagebg.height-30
						a.background-image-holder(href="/img/resort/ParkHyattResort-6.jpg" data-lightbox="gallery 1")
							img(src="/img/resort/ParkHyattResort-6.jpg")
		section#reasons-to-attend
			.container
				.row.text-center.mb--1
					.col-sm-12
						h2.color-blue 6 reasons why you should attend
				.row.text-center
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/dairy-talks.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Dairy Talks
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/customer-solutions.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Customer solutions
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/partner-insights.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Partner insights
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				.row.text-center
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/tech-panels.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Tech panels
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/product-solutions.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Product solutions
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
					.col-sm-4.clearfix.reason
						.col-sm-12.col-xs-4.imagebg.round.mb--1
							.background-image-holder
								img(src="/img/dairy/family-vacation.jpg")
						.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0
							h4.text-left-xs.color-blue Family vacation
							p.text-left-xs.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
				.row.text-center
					.col-sm-12
						a.btn.blue.large(href="")
							span.btn__text CLAIM YOUR SEAT
