doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		
		meta(name='author', content= "JJ Fry - http://4cc.co")
		link(rel="icon" href="/img/logo/icon-black.png")
		
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title= 'VAS Connect'
		meta(name='description', content='VAS - At the heart of your dairy')
		script(src="/customjs/01jquery-3.1.1.min.js")
		block head

		!= css("/")

	body
		include /partials/_header
		block content
		include /partials/_footer
		!= js("/")
