doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		
		meta(name='author', content= "JJ Fry - http://4cc.co")
		link(rel="icon" href="/img/logo/icon-black.png")
		
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title= 'Connect Summit 2018'
		meta(name='description', content='Transforming Dairy Operations Through Connected Technology')
		script(src="/customjs/01jquery-3.1.1.min.js")
		

		block head

		!= css("/")

	body
		include /partials/_header
		block content
		include /partials/_footer
		!= js("/")
		//- Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106330513-6')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-106330513-6');
		script(type='text/javascript').
			piAId = '456842';
			piCId = '45680';
			piHostname = 'pi.pardot.com';
			(function() {
			function async_load(){
			var s = document.createElement('script'); s.type = 'text/javascript';
			s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
			var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
			}
			if(window.attachEvent) { window.attachEvent('onload', async_load); }
			else { window.addEventListener('load', async_load, false); }
			})();
