extends layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub LOCATION
					h1.ctr.
						Park Hyatt Resort and Spa, #[br] Beaver Creek, Colorado
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section
			.container
				
				.row.text-center
					.col-sm-12
						h5 Luxury Beaver Creek Hotel and Resort
						h6.
							Welcome to a place where rare and unexpected pleasures seamlessly blend with every day and you are encouraged to embrace each passing moment. You will find many exciting things to do in Beaver Creek all year round.  Hike the majestic Colorado Rockies by morning and toast marshmallows in the warm glow of our fire pits under night skies. If you’re looking for activities at the resort, Park Hyatt has everything you need for an unforgettable vacation getaway - from swimming in our heated outdoor pool or to pampering treatments at Allegria Spa.
						//-a.btn.green.medium(href="#")
							span.btn__text READ ABOUT OUR MISSION
				.row
					.col-sm-12
						img(src="/img/location/image1.jpg")
		section
			.container
				.row
					.col-sm-12.text-center
						h2.color-green What Makes Park Hyatt Remarkable?
					.col-md-4.img.col-sm-12
						img(src="/img/location/image2.jpg")
						h4.color-green Experiences and Adventures
						h6.
							Stay at the base of Beaver Creek for an amazing experience, and be just steps from world-class hiking and biking trails, whitewater rafting, horseback riding and fly fishing.
					.col-md-4.img.col-sm-12
						img(src="/img/location/image3.jpg")
						h4.color-green World-class Spa treatments
						h6.
							Self-renewal and relaxation await at Allegria Spa, where you can experience the Aqua Sanitas’ water sanctuary for a complete wellness experience.  Refresh your body and soul in a sanctuary of calm at Allegria Spa at Park Hyatt Beaver Creek. Experience an indulgent escape at our Beaver Creek spa where you’ll find serenity and wellness in the heart of the Rocky Mountains. Allegria Spa provides soothing spa and body treatments – from massages to organic scrubs – that utilize the healing elements of Beaver Creek mountain o rejuvenate and replenish.
					.col-md-4.img.col-sm-12
						img(src="/img/location/image4.jpg")
						h4.color-green Fresh Flavors and Innovative Cuisine
						h6.
							Discover unique dining experiences that embody sophistication, seasonally-inspired flavors, and scenic outdoor settings.  Explore bold, regional flavors that showcase the natural, organic ingredients of the Rocky Mountains. Enjoy some of Colorado’s best craft beers, fine wines and signature craft cocktails with sustainable cuisine, from local elk to all-natural beef and trout. 
