extends layout

block content
	.content
		section#hero.pos-relative
			.header-title
				h1.ctr
					| Connect Summit 2018 
			.lines

		section
			.container
				.row.text-center.mt--2
					.col-sm-12
						h2.color-green Thank you for subscribing!
						h5 Your name and email will be added to our mailing list.
						a.btn.green.large(href="/")
							span.btn__text Back to Home Page
