extends layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub PROGRAM
					h1.ctr.
						Immerse yourself in inspiring stories and experiences
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section
			.container
				.row.text-center.mt--2
					.col-sm-12
						h5 The line up for the 2018 Connect Summit is amazing. Be inspired by all people who make this event possible.
						h6.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						//-a.btn.green.medium(href="#")
							span.btn__text READ ABOUT OUR MISSION
		section#agenda
			.container
				.row.text-center
					.col-sm-12
						ul#shortcuts
							li
								a(href="#day1")#day1-anchor.btn.large.blue
									span.btn__text Day 1
							li
								a(href="#day2")#day2-anchor.btn.large.blue
									span.btn__text Day 2
							li
								a(href="#day3")#day3-anchor.btn.large.blue
									span.btn__text Day 3
		section#events
			#day1.container
				.row
					h3.weight-700.color-blue.float-left Day 1 #[span.weight-500 Monday, June 25]
					span#day1.float-right.btn.medium.gray
						span.btn__text Show All Details
			.bg-gray2
				.container
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 12:00 #[span.weight-500 – 7:00pm]
						.col-md-6.event-details
							h4 Registration open
							p.event-location.
								Outside Ballroom
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 2:30 #[span.weight-500 – 4:30pm]
						.col-md-6.event-details
							h4 Solutions exhibits
							p.event-location.
								Exhbit area, outside Ballroom
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 5:30 #[span.weight-500 – 8:30pm]
						.col-md-6.event-details
							h4 Reception
							p.event-location.
								Bar
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
								
								
								
			#day2.container.mt--2
				.row
					h3.weight-700.color-blue.float-left Day 2 #[span.weight-500 Tuesday, June 26]
					span#day2-show.float-right.btn.medium.gray
						span.btn__text Show All Details
			.bg-gray2
				.container
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 12:00 #[span.weight-500 – 7:00pm]
						.col-md-6.event-details
							h4 Registration open
							p.event-location.
								Outside Ballroom
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 2:30 #[span.weight-500 – 4:30pm]
						.col-md-6.event-details
							h4 Solutions exhibits
							p.event-location.
								Exhbit area, outside Ballroom
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
					//-EVENT
					.row.event
						.col-md-3.event-title
							h4.color-darkBlue.event-time 5:30 #[span.weight-500 – 8:30pm]
						.col-md-6.event-details
							h4 Reception
							p.event-location.
								Bar
							.event-description(style="display:none;")
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.float-right
							.arrow
	script.
		var agendaOffset = $('#agenda').offset().top
		$(document).on('scroll', function(){
			console.log($('#agenda').offset().top)
			if(agendaOffset <= $(document).scrollTop() && !$('#agenda').hasClass('sticky')){
				$('#agenda').addClass('sticky');
			}
			else if (agendaOffset >= $(document).scrollTop() && $('#agenda').hasClass('sticky')){
				$('#agenda').removeClass('sticky');
			}
		})
