extends layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub SPEAKERS
					h1.ctr.
						Be inspired by the Connect 2018 lineup
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section
			.container
				.row.text-center
					.col-sm-12
						h5 The speakers at the inaugural Connect Summit bring a wealth of knowledge from both the dairy and tech worlds to inform and inspire attendees to make positive changes in their dairy operation today. Learn more about some of our guests here before attending!
		section#reasons-to-attend
			.container.masonry
				.row.text-center.masonry__container
					if contentful.speakers != undefined
						for item in contentful.speakers
							.col-sm-4.clearfix.reason.masonry__item
								.col-sm-12.col-xs-3.imagebg.not-round.mb--1
									.background-image-holder
										img(src="#{asset(item.speakerPhoto)}")
								.col-sm-12.col-xs-9.col-xs-offset-3.col-sm-offset-0.text-left-sm
									h4.text-left-xs.color-blue= item.speakerName
									p.text-left-xs.md!= md(item.shortDescription)
									a.text-left.btn.large.blue(href="#{item._url}")
										span.btn__text Read Bio
