extends /layout

block content
	.content
		section#hero.pos-relative
			.header-title
				h1.ctr
					| Connect Summit 2018 
			.lines

		section
			.container
				.row.text-center.mt--2
					.col-sm-12
						h2.color-green Thank you for your interest in sponsoring Connect Summit 2018
						h5 We will contact you soon with more information.
						a.btn.green.large(href="/")
							span.btn__text Back to Home Page
