extends layout

block content
	.content
		section#hero.pos-relative
			.hero.height-30
				.header-title
					h1.text-center
						span.h1-sub VISION
					h1.ctr.
						Intelligence at the heart of your dairy
				.lines

			//-.slider(data-arrows='false', data-paging='false')
				ul.slides
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")
					li.height-80.unpad.imagebg.parallax
						.background-image-holder
							img(src="/img/test.jpg")

			//-.container.pos-vertical-center(style="position:absolute;z-index:1;LEFT:0;RIGHT:0;")
				.row.text-center
					.col-sm-12
						h1.color-white
							|#[span.bold Connect 18] A Dairy Tech Summit
						p.color-white Executive dairy technology summit for the latest innovations and thought leadership in the global dairy industry.
						h4.color-white.unmarg JUNE 25 - 27, 2018
						h5.color-white Park Hyatt Resort, Beaver Creek, Colorado

		section
			.container
				
				.row.text-center.mt--2
					.col-sm-12
						h5 In an ever changing industry, what steps do you need to take to survive and thrive in the digital era.
						h6.
							Connect engages dairy leaders with trending and thought-provoking discussions to discover practical technology applications, best practices and the clearest path to transforming the way they do business.
						//-a.btn.green.medium(href="#")
							span.btn__text READ ABOUT OUR MISSION
				.row.mt--3
					.col-sm-12
						.iframe-container
							iframe.youtube(src="https://www.youtube.com/embed/pmCjKO4pD4A" allow="encrypted-media" allowfullscreen)
		section
			.container
				.row
					.col-md-4.img.col-sm-12
						img(src="/img/test.jpg")
						h4.color-green Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						h6.
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					.col-md-4.img.col-sm-12
						img(src="/img/test.jpg")
						h4.color-green Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						h6.
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					.col-md-4.img.col-sm-12
						img(src="/img/test.jpg")
						h4.color-green Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						h6.
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
