// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif
$garamond = "Garamond", serif
$openSans = 'Open Sans', sans-serif;
$uni = 'uni_neue', sans-serif
$corbel = 'corbel', sans-serif

// Default font settings
$font-default = $uni
$font-size = 16
$font-color = #555

$darkBlue        = #004C75
$blue            = #00A1E4
$blueHover       = #0D8DC3
$blue2           = #004C75
$blueGradient    = linear-gradient(0deg, #004C75 0%, #013E60 100%);

$green           = #9ABA4D
$greenHover      = #88A14A

$yellow          = #FFC20E
$yellowHover     = #D9A818

$white           = #FFFFFF

$bordergray      = rgba(129,128,111,0.25)
$gray            = #81806f
$gray2           = #E2E2E2
$gray3           = #3f3f3f
$black           = #000000



$greengradient = {
	background: rgb(103,134,78),
	background: -moz-linear-gradient(55deg, #67854E 30%, #9aba4d 80%, #d7df23 100%)
	background: -webkit-linear-gradient(55deg, #67854E 30%, #9aba4d 80%, #d7df23 100%)
	background: linear-gradient(55deg, #67854E 30%, #9aba4d 80%, #d7df23 100%)
}
$greengradient2 = {
	background: rgb(103,134,78),
	background: -moz-linear-gradient(20deg, rgba(103,134,78,0) 0%, rgba(103,134,78,0.2) 20%, #9aba4d 65%, #d7df23 100%)
	background: -webkit-linear-gradient(20deg, rgba(103,134,78,0) 0%, rgba(103,134,78,0.2) 20%, #9aba4d 65%, #d7df23 100%)
	background: linear-gradient(20deg, rgba(103,134,78,0) 0%, rgba(103,134,78,0.2) 20%, #9aba4d 65%, #d7df23 100%)
}

$box-shadow = 0px 2px 20px 0px rgba(0,0,0,0.3)

blue    = $blue

lime    = $yellowgreen
yellow  = $yellow

white   = $white

gray    = $gray
black   = $black





// Default color
$default-color = $green

// Text highlight color
$highlight-color = $yellowgreen

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
