@import 'zy_settings'

//normalize-css()
//base()
$headerHeight = 120px
$border = 1px $bordergray solid


// --- fonts
a,p,h1,h2,h3,h4,h5,h6,input,textarea,select,option,span,li,button
	font-family $uni !important
	font-weight 600
h1,h2
	font-weight 700
	margin-bottom 20px
h3,h4,h5,h6
	font-weight 600
	margin-bottom 20px
p,a,input,textarea,select,option,span,li
	font-weight 600

textarea, input[type]
	border-radius 0px
	border-bottom $darkBlue 2px solid
	border-top none
	border-right none
	border-left none
body
	.content,footer
		position relative
	.content,header,footer
		right 0
		transition 0.5s
body.custom-toggled-class
	.content,header,footer
		right 80vw
		transition 0.5s
.uppercase
	text-transform uppercase
.small
	font-size 14px
h1
	font-size 60px
	line-height 60px
	@media (max-width:767px)
		font-size 40px
		line-height 40px
h2
	font-size 48px
	line-height 1.1em
	@media (max-width:767px)
		font-size 32px
		line-height 36px
h3
	font-size 30px
	line-height 34px
	font-weight 600
h4
	font-size 24px
	line-height 32px
	font-weight 700
h5
	font-size 22px
	line-height 24px
	font-weight 600
h6, label
	font-size 18px
	line-height 28px
	font-weight 600
h5,h6
	max-width 670px
	margin-left auto
	margin-right auto
p,button,input,textarea
	font-size 15px
	font-weight 600 !important
	line-height 20px
p > a
	text-decoration underline
	color inherit
	font-weight 600
	&:hover
		color $blue
h1,h2,h3,h4,h5,h6,p
	margin-bottom 35px !important
	a
		color $blue
.btn
	margin 0

#blog-content, #about-content, section>.container>.row
	p:not([class*="color-"]), pre
		font-weight normal
		font-family $corbel
	pre
		white-space pre-line
		font-size 18px
		padding initial
		background initial
		border initial
		border-radius initial
		line-height 30px
		max-height initial
		max-width initial
		display block
		margin initial
		word-break initial
		word-wrap initial
		color $gray3

.weight-normal
	font-weight normal
.weight-500
	font-weight 500
.weight-600
	font-weight 600
.weight-700
	font-weight 700
.weight-800
	font-weight 800
.strong
	font-weight bold


section
	padding 100px 0 30px 0
	@media (max-width:992px)
		padding 75px 0 25px 0
	@media (max-width:767px)
		padding 50px 0 20px 0

.color-yellow
	color $yellow
.color-green
	color $green
.color-green2
	color $green2
.color-blue
	color $blue
.color-darkBlue
	color $darkBlue
.color-default
	color $gray3
.color-white
	color $white
.bg-green
	background-color $green
.bg-green2
	background-color $green2
.bg-blue
	background-color $blue
.bg-gray
	background-color $gray
.bg-gray2
	background-color $gray2


// --- fixes
.not-round
	border-radius 0px
	min-height 150px
[class*="col-"]
	a.btn
		display inline-block
.container
	@media (min-width: 1300px)
		width 1200px
.dropdown__content
	padding 0 !important
section.imagebg.parallax
	//min-height 750px;
	//border-radius 0px 0px 25% 0px
.img-clip
	//border-radius 0px 0px 25% 0px
.pad-sm
	padding 10px
@media (max-width: 767px)
	.float-center-xs
		float none
		margin 20px auto
@media (max-width: 992px)
	.float-center-sm
		float none
		margin 20px auto
p i
	margin-right 10px
.col-img-fix
	position absolute
	height 100%
.hamburger-toggle
	display block
	position relative
	height 25px
	width 22px
	top 17px
	right 10px
	margin-left 22px
	float right
.hamburg
	position relative
	top 12px
.hamburg span, .hamburg span:before, .hamburg span:after
	//top 10px
	cursor pointer
	border-radius 1px
	height 2px
	width 22px
	background white
	position relative
	display block
	content ''

.hamburg span:before
	top -8px
.hamburg span:after
	bottom -6px


#language-dropdown
	box-shadow $box-shadow
.language-dropdown
	border-left $border
	padding-left 10px
	img
		padding 0 10px
textarea
	min-height 300px
#hero
	.slider
		z-index 0 !important
		height 100%
	.slides
		height 100%
		z-index 0 !important
	.slide > img
		min-width 100%
		height 100%
	.flickity-viewport, .flickity-slider, & >li
		height 100% !important
.home-header-fix
	top 0
	bottom 0
	margin auto
	z-index 1






// --- misc classes
#phone
	width 100%
	overflow-x hidden
	padding-top 150px
	.container
		padding 50px 0
		@media (max-width:992px)
			padding 60px 15px 10px 15px
	.phoneimg
		position absolute
		height 400px
		bottom 30px
		right 0
		left 35%
		margin auto
	@media (max-width:1200px)
		padding-top 150px
		.phoneimg
			height 400px
			left 55%
	@media (max-width:992px)
		padding-top 150px
		.phoneimg
			height 470px
			left 55%
			bottom 25px
	@media (max-width:767px)
		.phoneimg
			bottom 20px
	@media (max-width:500px)
		padding-top 30px
	.download-link
		display inline-block
		width 120px
		&:not(:last-child)
			margin-right 20px
		@media (max-width:992px)
			width 150px
			margin-bottom 20px
.fa-times-thin:before
	content '\00d7'

.closeX
	color $white
	position absolute
	top 8px
	right 25px
	font-size 40px
	cursor pointer
.arrow-down
	box-sizing border-box
	height 20px
	width 20px
	border-top 2px solid #3F3F3F
	border-left 2px solid #3F3F3F
	opacity 0.5
	transform rotate(-135deg)
	transform-origin center center
	transition transform .2s
.arrow-up
	box-sizing border-box
	height 20px
	width 20px
	border-top 2px solid #3F3F3F
	border-left 2px solid #3F3F3F
	opacity 0.5
	transform-origin center center
	transform rotate(45deg)
	transition transform .2s
.square
	width 100%
	position relative
	&:after
		content ''
		display block
		padding-bottom 100%
	.background-image-holder
		background-size cover
.round
	//width 100%
	position relative
	&:after
		content ''
		display block
		padding-bottom 100%
	.background-image-holder
		border-radius 50%
		background-size cover

.iframe-container
	position relative
	padding-bottom 56.25%
	padding-top 25px
	height 0
	iframe
		position absolute
		top 0
		left 0
		width 100%
		height 100%
.border-right
	border-right $border
.border-bottom
	border-bottom $border
.border-left-green
	border-left 1px $green solid
.move-up
	transform: translate(0px, -100px);

.btn > img.arrow-right
	height 20px
	position absolute
	right 10px
	top 0
	bottom 0
	margin auto
#social-share
	h1,h2,h3,h4,h5,h6
		line-height 35px
.social-icons
	li
		&:first-child,&:not(:last-child)
			a
				i
					margin-right 10px
		display inline-block
		a
			transition 0.2s
			// height 30px
			// width 30px
			display block
			//margin 0 5px

			i
				border 2px solid $white
				color $white
				text-align center
				height 40px
				width 40px
				padding 7px
				display inline-block
				font-size 25px
				//margin 0 10px
				border-radius 999px
				
			span
				color $blue
				font-size 18px
#menu-overlay-toggle
	display none
	height 100%
	width 100%
	position fixed
	z-index 9
	background rgba(0,0,0,0.5)
	transition 0.5s
	&.custom-toggled-class
		z-index 0
		//display none
		background rgba(0,0,0,0.0)
		transition 0.5s


.check-mark-before, .check-mark-before-white
	position relative
	padding-left 35px
	&:before
		content ""
		width 20px
		height 20px
		background-position center right
		bottom 0
		top 0
		left 0px
		position absolute
		opacity 1
		margin auto
.check-mark-before:before
	background transparent url("../img/icon/check.png") no-repeat
	background-size contain
.check-mark-before-white:before
	background transparent url("../img/icon/check-white.png") no-repeat
	background-size contain
.video-play-icon
	transition 0.2s
	position relative
	&:before
		border none
		transition 0.2s
		content ""
		width 40%
		height 40%
		background transparent url("../img/icon/play.png") no-repeat center center
		background-size contain
		bottom 0
		right -12px
		top 0
		left 0
		position absolute
		display block
		opacity 1
		z-index 5
		margin auto
	&:hover
		background $green
		border-color $green
		transition 0.2s
	&:hover:before
		background transparent url("../img/icon/play-white.png") no-repeat center center
		background-size contain

[class*="arrow-after-"]
	padding-right 50px !important
[class*="arrow-after-"]:after
	border none
	transition 0.2s
	content ""
	width 30px
	height 40%
	bottom 0
	right 10px
	top 0
	position absolute
	display block
	opacity 1
	z-index 2
	margin auto
.arrow-after-white-green
	&:hover:after
		background transparent url("../img/icon/arrow-right-green.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
.arrow-after-green-white
	&:hover:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right-green.png") no-repeat center center
		background-size contain
.arrow-after-white-blue
	&:hover:after
		background transparent url("../img/icon/arrow-right-blue.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
.arrow-after-blue-white
	&:hover:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right-blue.png") no-repeat center center
		background-size contain
.arrow-after-white-gray
	&:hover:after
		background transparent url("../img/icon/arrow-right-gray.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
[class*="download-before-"]
	padding-left 50px !important
[class*="download-before-"]:before
	border none
	transition 0.2s
	content ""
	width 30px
	height 40%
	bottom 0
	left 10px
	top 0
	position absolute
	display block
	opacity 1
	z-index 2
	margin auto
.download-before-white-green
	&:hover:before
		background transparent url("../img/icon/download-green.png") no-repeat center center
		background-size contain
	&:before
		background transparent url("../img/icon/download-white.png") no-repeat center center
		background-size contain
.download-before-green-white
	&:hover:before
		background transparent url("../img/icon/download-white.png") no-repeat center center
		background-size contain
	&:before
		background transparent url("../img/icon/download-green.png") no-repeat center center
		background-size contain
.download-before-white-blue
	&:hover:before
		background transparent url("../img/icon/download-blue.png") no-repeat center center
		background-size contain
	&:before
		background transparent url("../img/icon/download-white.png") no-repeat center center
		background-size contain
.download-before-blue-white
	&:hover:before
		background transparent url("../img/icon/download-white.png") no-repeat center center
		background-size contain
	&:before
		background transparent url("../img/icon/download-blue.png") no-repeat center center
		background-size contain
.download-before-white-gray
	&:hover:before
		background transparent url("../img/icon/download-gray.png") no-repeat center center
		background-size contain
	&:before
		background transparent url("../img/icon/download-white.png") no-repeat center center
		background-size contain

.custom-close-button
	cursor pointer
	position fixed
	top 20px
	right 20px
	z-index 1000
	p
		margin-right 40px
	&:after
		content ""
		border none
		transition 0.2s
		width 30px
		height 30px
		top 0
		right 0
		position absolute
		display block
		opacity 1
		z-index 9
		padding-left 30px
		margin auto
		background transparent url("../img/icon/close.png") no-repeat center center
		background-size contain



//-- overlap classes
[class*="shift-"]
	position relative
	z-index 2
.shift-up
	top -100px
	margin-bottom -100px




// --- colors
// a
// 	color $green
// 	&:hover
// 		color $blue
::selection
	background $blue /* WebKit/Blink Browsers */
	color $white

::-moz-selection
	background: $blue /* Gecko Browsers */
	color $white
.bg-gradient
	for key, value in $greengradient
		{key}:value
.signature-container
	height 100%
	width 100%
	display block
	position absolute
	top 0
	left 0
	z-index 1 !important
.signature-container:before
	content ""
	width 100%
	height 100%
	//min-width 800px
	background transparent url("../img/logo/vassig-white.png") no-repeat
	background-size contain
	background-position top left
	top -9%
	left -5%
	position absolute
	display block
	opacity .3
	transform translate(0,-14vh)
[data-overlay]:before
	for key, value in $greengradient2
		{key}:value
	z-index 1







// --- buttons

.btn, button
	border-radius 999px
	white-space normal
	padding 0 20px

// --- white on gray
.btn-white-gray,
.btn-white-gray:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-gray .btn__text,
.btn-white-gray:visited .btn__text
	color #fff

.btn-white-gray .btn__text i,
				.btn-white-gray:visited .btn__text i
	color #fff

.btn-white-gray
	&:hover
		background $white
		border-color $gray !important
		.btn__text
			color $gray
	&:active
		background $white



// --- white on blue
.btn-white-blue,
.btn-white-blue:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-blue .btn__text,
.btn-white-blue:visited .btn__text
	color #fff

.btn-white-blue .btn__text i,
				.btn-white-blue:visited .btn__text i
	color #fff

.btn-white-blue
	&:hover
		background $white
		border-color $blue !important
		.btn__text
			color $blue
	&:active
		background $white



// --- white on green
.btn-white-green,
.btn-white-green:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-green .btn__text,
.btn-white-green:visited .btn__text
	color #fff

.btn-white-green .btn__text i,
				.btn-white-green:visited .btn__text i
	color #fff

.btn-white-green
	&:hover
		background $white
		border-color $green !important
		.btn__text
			color $green
	&:active
		background $white


// --- green on white
.btn-green-white,
.btn-green-white:visited
	background rgba(0,0,0,0.0)
	border-color $green

.btn-green-white .btn__text,
.btn-green-white:visited .btn__text
	color $green

.btn-green-white .btn__text i, .btn-green-white:visited .btn__text i
	color $green

.btn-green-white
	&:hover
		background $green
		border-color $white !important
		.btn__text
			color $white
	&:active
		background $green


// --- blue on white
.btn-blue-white,
.btn-blue-white:visited
	background rgba(0,0,0,0.0)
	border-color $blue !important

.btn-blue-white .btn__text,
.btn-blue-white:visited .btn__text
	color $blue

.btn-blue-white .btn__text i, .btn-blue-white:visited .btn__text i
	color $blue

.btn-blue-white
	&:hover
		background $blue
		border-color $white !important
		.btn__text
			color $white
	&:active
		background $blue
.btn-circle
	border-radius 999px
	padding 20px !important
	transition padding 0s






// --- header
.dropdown__content
	border-radius 0 !important
	//box-shadow none !important
	li
		padding 10px 20px
	a
		padding 10px 20px
#menu1
	width auto
	float none !important
	padding-top 10px
header
	height $headerHeight
	position absolute
	z-index 10
	width 100%
	&.sticky
		height 80px
		position fixed
		background $blueGradient
		a.logo
			height 70px
			.logo
				height 70px
		nav
			#mega-menu
				ul.menu-horizontal
					top -10px
	// div
	// 	position relative
	// 	height 100%
	a.logo
		height 100px
		position absolute
		z-index 5
		top 0
		bottom 0
		margin auto
		.logo
			height 100px


	.nav-container
		height 100%

	nav
		.currentPage
			color $gray !important
		#mini-menu
			a, .language
				text-transform none
				opacity 1
				color $gray3
				transition .2s
				font-size 15px
				line-height inherit
				font-weight 600
				&:hover, &:active
					color $blue
					transition .2s
		#mega-menu
			a
				text-transform none
				opacity 1
				color $white
				transition .2s
				font-size 16px
				line-height inherit
				font-weight 600
				&:hover
					color $blue
					transition .2s
			h1,h2,h3,h4,h5,h6,p
				a
					color $blue
	#mega-menu
		position relative
		top 20px
		ul.menu-horizontal
			position relative
			top 10px
			li
				line-height 40px
				display inline-block
				&:not(:last-child)
					margin-right 15px
				&.header-btn
					margin-right 0px
					margin-left 15px
				h6
					font-size 16px
				@media (max-width:992px)
					line-height 25px
					&.header-btn
						margin-top 20px
			a.btn
				padding 0 20px
	#mini-menu
		position relative
		top -30px



// --- Footer
footer
	margin-top 200px
	background $blueGradient
	#dont-miss-a-thing
		position relative
		top -200px
		margin-bottom -200px
	h1,h2,h3,h4,h5,h6,p
		color $white
	@media (max-width:767px)
		text-align center



// --- main content area
body
	background $white
.content
	padding-top 0//$headerHeight
	background $white
	section:first-child
		@media (max-width:992px)
			padding-top 60px
		&.home
			padding-top 120px
#reasons-to-attend
	[class*="col-"]
		padding-left 15px
		padding-right 15px
	.reason
		margin-bottom 50px
		position relative
		@media (max-width:767px)
			margin-bottom 20px
	.imagebg
		max-height 150px
		text-align center
		.background-image-holder
			position absolute
			left 0
			right 0
			top auto
			bottom 0
			height 150px
			width 150px
			margin-left auto
			margin-right auto
		@media (max-width: 767px)
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			text-align left
			margin inherit
			.background-image-holder
				top 0
				max-height 75px
				max-width 75px
				margin auto
#dont-miss-a-thing
	.container
		padding 25px 50px
	@media (max-width:767px)
		padding 0 15px
		.container
			padding 25px
			a.btn, input
				margin-top 20px
#sponsors
	margin-bottom 25px
	li
		display inline-block
		@media (max-width:992px)
			width 35%
		img
			max-width 150px
			padding 15px
			margin 0 auto
			background-size contain !important
			background-repeat no-repeat !important
			//padding 20px
			@media (max-width:767px)
				max-width 120px
				height auto
				//min-height 100px







// vision page
.image-text-floats
	position relative
	.img
		padding-left 0
		padding-right 0
		@media(max-width:768px)
			padding 15px
	.text-col-vertical-center
		padding-left 30px
		padding-right 30px
		position absolute
		top 50%
		transform translateY(-50%)
		-webkit-transform translateY(-50%)
		@media(max-width:768px)
			position relative
			top 0
			transform none
			padding 15px







// program page
#agenda
	padding-top 30px
	&.sticky
		background $white
		position fixed
		top 80px
		width 100%
		padding 10px 0
		margin 0
		z-index 2
		li a
			margin-bottom 0
		@media (max-width:992px)
			top 60px
	#shortcuts
		li
			display inline-block
			&:first-child, &:not(:last-child)
				margin-right 10px
#events
	padding-top 30px
	.event-time, .event-location
		text-transform uppercase
	.event
		padding 30px 0
		.event-description
			color #3F3F3F
		.arrow
			cursor pointer
			box-sizing border-box
			height 20px
			width 20px
			border-top 2px solid #3F3F3F
			border-left 2px solid #3F3F3F
			transform-origin center center
			transition transform .2s
			opacity 0.5
			transform rotate(-135deg)
			@media (max-width:992px)
				position relative
				right 20px
			
	.event.active
		.arrow
			transform rotate(45deg)
	.event:not(:last-child)
		border-bottom: $border







// speakers page
#speakers
	.imagebg
		height 250px
		width 250px
		text-align center
		margin-left auto
		margin-right auto



// --- queries
@media (max-width:990px)
	.menu-horizontal
		li
			display block !important
			&:not(:last-child), &:not(.header-btn)
				margin-right 15px
@media (max-width:992px)
	#menu1
		display block
		width 80vw
		right 0
		transition 0.5s
		position fixed
		height 100vh
		transition 0.5s
		//width 100vw
		background $blueGradient
		top 0
		&.custom-toggled-class
			transition 0.5s
			right -80vw !important
			//display none
		.container
			padding 50px 25px
	#menu-overlay-toggle
		display block !important
	.content
		//padding-top 56px
	.col-img-fix
		position relative
		min-height 300px
		margin 15px 0
	#updates-section
		margin-top -25px
	header
		height 60px !important
		&.sticky
			a.logo
				height 55px
				img
					height 100% !important
			
		a.logo
			height 55px
			img
				height 100% !important
		.stack-interface
			margin-top 5px
		#mega-menu

			top 0 !important
			li
				font-size 22px
				margin 0 0 10px 0
				padding 3px 20px
		#mini-menu

			top 0 !important
			li
				font-size 18px
				margin 0 0 10px 0
				padding 3px 20px
		.dropdown__trigger
			font-size 15px
		#language-dropdown
			li
				padding 5px 0px
				margin 0
			right 0
			left initial !important
			transition 0.5s
			position fixed
			width 65%
			@media (max-height:475px)
				bottom 0
				top initial


	// #menu1
	// 	width 80vw
	// 	position fixed
	// 	right 0
	// 	transition 0.5s
	// 	padding-top 0px
	// 	//height 90vh
	// 	overflow-y auto
	// 	overflow-x hidden
	.logo-mobile
		margin-left 15px !important
	.stack-menu
		margin 25px 0px 0px 0px
	ul.menu-horizontal
		li
			display block !important
			&:not(:last-child)
				margin-right 15px
			&.header-btn
				margin-left 0 !important





// ELASTIK STYLES

*
	box-sizing border-box

body
	font-size 1.4em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-family 'uni_neue', 'Helvetica', 'Arial', sans-serif
	font-weight 600

body, html
	font-size 18px
	padding 0
	margin 0

#hero
	width 100%
	background $blueGradient
	&.home
		min-height 600px
	//min-height 500px
	//overflow hidden
#hero
	h1
		max-width 1200px
		margin-left auto
		margin-right auto
.hero
	width 100%
	z-index 0
	display block
	@media (max-width:992px)
		padding 60px 0 20px 0
	// &:before
	// 	height 100%
	// 	content ''
	// 	position absolute
	// 	top 0
	// 	left 0
	// 	display block
	// 	width 100%
	// 	//min-height 500px
	// 	z-index 1

.lines
	opacity 0.7
	background-image url('/img/illustration_animated.svg')
	position absolute
	top 0
	left 0
	display block
	width 100%
	height 100%
	//min-height 500px
	background-repeat no-repeat
	background-position center center
	background-size cover
	z-index 0
.home
	.header-title
		//bottom 155px
		@media (max-width:767px)
			//padding-bottom 100px
.ctr
	text-align center
.header-title
	position relative
	//bottom 70px
	z-index 1
	display block
	width 100%
	z-index 4
	margin-top 0px
	padding 0 20px
	h1
		margin-bottom 10px !important
		color $white
		font-size 40px
		font-weight 700
		margin-bottom 20px
		line-height 1.1em
		.h1-sub
			display inline-block
			font-size 0.5em
			font-weight 500
			display block
	h2
		line-height 1.3em
		margin 0 auto
		font-size 18px
		color $blue
		font-weight 600
		max-width 500px
		margin-bottom 40px

.info-date
	color $green
	font-weight 700
	font-size 30px

.info-location
	color #fff
	font-size 24px

.carousel
	position relative

.main-carousel
	overflow hidden

.carousel-cell
	width 80%
	position relative

.carousel-cell-image
	width 100%

.carousel-cell-content
	h1,h2,h3,h4,h5,h6,span,p
		color $white
	background-color $blue2
	padding-top 20px
	padding-bottom 20px
	padding-left 15%
	padding-right 15%
	position relative
	z-index 2
	margin-top -40px
	opacity 0
	transform translate3d(0, 100px, 0)
	transition opacity 500ms cubic-bezier(0.55, 0, 0.1, 1), transform 500ms cubic-bezier(0.55, 0, 0.1, 1)
	@media (max-width:760px)
		padding 20px 15px
	h3
		font-size 22px
		margin-bottom 10px
	p
		font-size 16px
		line-height 24px
		@media (max-width: 760px)
			font-size 15px
			line-height 22px

.carousel-cell, .carousel-cell-image
	min-height 225px

.is-selected
	.carousel-cell-content
		opacity 1
		transform translate3d(0, 0, 0)
.flickity-prev-next-button.next
	svg
		display block !important
	&:before
		display none !important
.flickity-enabled
	&.is-draggable
		.flickity-viewport
			cursor move
			cursor -webkit-grab
			cursor grab
			&.is-pointer-down
				cursor -webkit-grabbing
				cursor grabbing

.flickity-prev-next-button
	position absolute
	z-index 4
	top calc( 50% - 100px ) !important
	width 45px
	height 45px
	border none
	border-radius 50%
	background transparent
	cursor pointer
	-webkit-transform translateY(-50%)
	transform translateY(-50%)
	outline none
	&:hover
		background transparent
		.arrow
			fill $blue
	&:focus
		outline none
		box-shadow 0 0 0 5px $blueHover
	&:active
		opacity 1
	&.previous
		display none
	&.next
		right calc( 25% - 88px )
	&:disabled
		opacity 0.3
		cursor auto
	svg
		position absolute
		left 20%
		top 20%
		width 45px
		height 45px
		@media (max-width:767px)
			left -50%
	.arrow
		fill $white

.carousel
	.flickity-prev-next-button
		opacity 1
		&.previous
			left auto
			right 10px
		&.next
			// right auto
			// left 10px
		&:focus
			box-shadow none !important

@media screen and (min-width: 768px)
	.hero,#hero,.hero:before
		min-height 450px

@media screen and (min-width: 490px)
	.header-title
		margin-top 30px
		h2
			margin-bottom 40px
	.carousel-cell
		width 75%

@media screen and (min-width: 490px)
	.carousel-cell, .carousel-cell-image
		min-height 300px

@media screen and (min-width: 760px)
	#hero.home,.hero:before
		min-height 650px

@media screen and (min-width: 760px)
	.header-title
		margin-top 60px
		h2
			margin-bottom 60px
		h1
			font-size 55px
			.h1-sub
				display inline-block

@media screen and (min-width: 760px)
	.carousel-cell, .carousel-cell-image
		min-height 500px

@media screen and (min-width: 1100px)
	.header-title
		h1
			font-size 70px
@media screen and (min-width: 1600px)
	.carousel-cell, .carousel-cell-image
		min-height 700px
.btn
	display inline-block
	justify-content center
	vertical-align bottom
	cursor pointer
	padding 7px 14px 7px
	font-size 12px
	line-height 1
	font-weight 700
	border-radius 5px
	background-color transparent
	border 2px solid $black
	color $black
	text-decoration none
	margin-right 10px
	margin-bottom 10px
	-webkit-transition all 0.1s ease-in-out 0s
	transition all 0.1s ease-in-out 0s
	outline none
	span.btn__text
		text-transform uppercase
	&.medium
		padding 9px 18px 9px
		font-size 14px
	&.large
		padding 13px 26px 13px
		font-size 16px
	&.blue
		border 2px solid $blue
		.btn__text
			color $blue
		&:hover
			background-color $blue
		&:active
			border-color $blueHover
			background-color $blueHover
	&.green
		border 2px solid $green
		.btn__text
			color $green
		&:hover
			background-color $green
		&:active
			border-color $greenHover
			background-color $greenHover
	&.yellow
		border 2px solid $yellow
		.btn__text
			color $yellow
		&:hover
			background-color $yellow
		&:active
			border-color $yellowHover
			background-color $yellowHover
	&.white
		border 2px solid $white
		.btn__text
			color $white
		&:hover
			background-color $white
			.btn__text
				color $blue
		&:active
			border-color $white
			background-color $white
	&.gray
		border 2px solid $gray3
		.btn__text
			color $gray3
			&:hover
				color $white
		&:hover
			background-color $gray3
		&:active
			border-color $gray3
			background-color $gray3
	&:hover
		.btn__text
			color $white
